{% extends 'base.html' %}
{% load static %}
{% block title %}Tech · {{ BRAND_NAME }}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/tech_list.css' %}">

<main class="container">

        <section class="hero-section">
            <p class="category-label">{{post.page_eybrow}}</p>

            <div class="title-stack">
                <h1>{{page_h1}}</h1>

                <div class="search-bar">
                    <span class="search-icon">⌕</span>
                    <input 
                        class="search-input" 
                        type="text" 
                        placeholder="search posts…"
                >
                <span class="search-shortcut">⌘K</span>
                </div>
            </div>
            
            <div class="filter-tags">
                <div class="filter-tag active">All</div>
                {% for category in categories %}
                <div class="filter-tag">{{category.label}}</div>
                {% endfor %}
            </div>
        </section>

        <div class="post-list">
            {% for post in posts %}
            <div class="post-item">
                <div class="post-date">{{ post.published_at}}</div>
                <div class="post-content">
                    <a href="{% url 'tech_detail' post.slug %}">
                    <h2 class="post-title">{{post.title}}</h2>
                    <p class="post-summary">{{post.subtitle}}</p>
                    <div class="post-tags">
                        <span class="tag-category-F">{{post.category.label}}</span>
                        {% for tag in post.tags.all %}
                        <span class="tag">#{{ tag.label }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="read-time">{{post.read_minutes}} min</div>
            </a> </div>
            {% endfor %}

        </div>
    </main>

{% endblock %}
